!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title HAML Vue
    %link(href="stylesheets/application.css" rel="stylesheet")

  %body
    .container.spa
      %app

    %script(src="javascripts/application.js")